.big-container {
  background: #304145;
}


.download-button {
text-align: center;
color :#BAC7CE;
font-size : 14px;
font-family: sans-serif;
text-decoration: none;
border: 1px solid #BAC7CE;
padding: 14px 50px;
overflow: hidden;
transition: 0.5s all ease;
max-width: 40vw;
/* margin-left: 50%; */
}

.download-button:hover {
  text-decoration: none;
  color : #304145;
  background-color: #BAC7CE;
}


.spec-container {
  padding: 20px 20px 20px 20px;
  border-radius: 15px;
}



.copyright-label {
  margin-bottom: 0;
  padding-bottom: 15px;
  font-size: 12px;
}
.icon-social {
  font-size: 20px;
}
