
.download-button {
text-align: center;
color :#304145;
font-size : 14px;
font-family: sans-serif;
text-decoration: none;
border: 1px solid #304145;
padding: 14px 50px;
overflow: hidden;
transition: 0.5s all ease;
max-width: 40vw;
/* margin-left: 50%; */
}

.download-button:hover {
  text-decoration: none;
  color : rgb(204, 204, 204);
  background-color: #304145;
}


.icon-social {
  font-size: 20px;
}
