body,html {
    padding-top: 28px; /*height of the navbar*/
    overflow-x: hidden;
    font-family:  'Roboto', sans-serif;
}
h4 {
  font-size: 20px;
}


/* Color */
.dark {
  background: rgb(52, 58, 64);
}
.white {
  background-color: white;
}
.light {
  background: rgb(91, 91, 91);
}
/* Typo Color */
.dark-t {
  color :  rgb(52, 58, 64);
}
.white-t {
  color : white;
}


/* Title of pictures */
.pic-title {
  top: 0;
  font-size: 40px;
  font-family:  'Roboto', sans-serif;
}


/* Education Section */
.round-ico {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(91, 91, 91);
  padding: 80px 80px 80px 80px;
  border-radius: 100px;
  font-size: 40px;
  color : white;
  transition: 0.6s all ease;
}
.round-ico:hover {
  background-color: rgb(223, 223, 223);
  color : black;
}



/* Scroll Top Btn */
.scroll-top-container {
  position: fixed;
  bottom: 5%;
  right : 1%;
  z-index: 5;
  display: none;
}
.button-scroll-top {
  background: rgb(138, 138, 138);
  color: white;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  transition: 0.2s;
}
.button-scroll-top:hover {
  box-shadow:  0px 0px 5px black;
}


/* Project */
.project-place {
  font-size: 16px;
}


/* Carousel */
.text-zone {
  background: rgb(226, 226, 226);
  border: 2px solid rgb(91, 91, 91);
  border-radius: 20px;
  padding: 10px 0 0 0;
}
.carousel-container
{
  padding-top: 3vh;
  max-width: 1000px;
  height: auto;
  position: relative;
}

/* Wave header */
.wave-container {
  position: relative;
  /* background: #09F; */
  color: #FFF;
  text-align: center;
  overflow: hidden;
  top: 0;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}


.underline {
  text-decoration: underline;
}
