.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  color: white;
}


.python {width: 80%; background-color: #fe2204;}
.cpp {width: 70%; background-color: #fe5e04;}
.html {width: 60%; background-color: #fe9204;}
.angular {width: 60%; background-color: #fea104;}
.android {width: 50%; background-color: #fece04;}

.FadeInPython {
  -webkit-animation: python 2s ease;
}
.FadeInCPP {
  -webkit-animation: cpp 2s ease;
}
.FadeInHtml {
  -webkit-animation: html 2s ease;
}
.FadeInAngular {
  -webkit-animation: angular 2s ease;
}
.FadeInAndroid {
  -webkit-animation: android 2s ease;
}

@-webkit-keyframes python {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes cpp {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}
@-webkit-keyframes html {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes angular {
  0%   { width: 0px;  }
  100% { width: 60%;  }
}
@-webkit-keyframes android {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}





.container-skills {
  width: 80%;
  transform: translate(-50%,0%);
  margin-left: 50%;
  margin-bottom: 20px;
}


.container-skill {
  background: rgb(187, 187, 187);
  transition: 0.1s all ease;
}
.container-skill:hover {
  transform: scale(1.01,1.05);
  background: rgb(220, 220, 220);
}

.skill-name {
  margin-bottom: 0;
  margin-top: 10px;
}

.other-skill {
  padding: 30px 30px 30px 30px;
  background: rgb(187, 187, 187);
  border-radius: 5px;
  font-size: 20px;
  color : #304145
  overflow: hidden;
  /* max-width: 60vw; */
}
