<div class="MsgHeader">
  <p>Test Chat</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 messageContainer">

        <ul class="list-group">
          <app-msg-chat  *ngFor="let message of messages;"
                         [messageTxt]="message.status"
                         [messageHour]="message.date"
                         [messageAuthor]="message.sender"
                         [messageClass] ="message.class"></app-msg-chat>
        </ul>

    </div>

  </div>
</div>
<div class="col-xs-12" id="inputDiv">
  <input type="text" [(ngModel)]="inputMessage" placeholder="Your message" id="inputZone" value="" (keyup.enter)="onEnterPressed()">
</div>
