/* Chat containers */
.container {
  background-color: #000000;
  padding-bottom: 10px;
  width: auto;
  max-width: 70%;
}

#status {
  font-size: 16px;
  color: rgb(255, 255, 255);
  width: auto;
  margin-bottom: 0;
}


.right {      //our message

  // border-color: rgb(62, 195, 224);
  // background-color: rgba(62, 195, 224, 0.70);
  float:right;
  clear:both;
}


.left {       //their message
  // border-color: #ccc;
  // background-color: #ddd;
  float:left;
  clear:both;
}
