/* Fonts */

@font-face {
  font-family: "Quicksand-Light";
  src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf");
}

body {
  overflow-x: hidden;
}

#contacts {
  padding: 40px; 
  background-color: rgb(231, 231, 231)
}

#experiences {
  margin-top: 40px;
}

#skills {
  background: #2b2b2b
  /* padding: 40px; */
  /* background-image: url("../img/particle-bg.png") ;
  background-attachment: fixed; */
}

#projects {
  padding: -40px;
}

.downloadButtonTrack {
  white-space: nowrap;
}